/* .scrolling-background {
  position: absolute;
} */

.header {
  position: relative;
  /* z-index: 1; */
  height: 100vh;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  font-size: 30px;
  text-align: center;
}

.header > h1 {
  margin-top: 0;
}

.social-links {
  display: flex;
  /* flex-direction: column; */
}

.wrapper {
  scroll-snap-align: start;
  /* background-color: transparent; */
}

.fade-top {
  animation: fade-top 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}

@keyframes fade-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fade-bottom {
  animation: fade-bottom 1s;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
