html {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: white;
  transition: background-color 0.5s;
}

body.snap {
  scroll-snap-type: y mandatory;
}

a {
  color: #94a4ba;
  text-decoration: none;
  transition: 0.2s ease-out;
}

a:hover,
a:focus {
  color: black; /* #94a4ba; */
  transform: translate3d(0, -0.1rem, 0);
}

footer {
  display: block;
  scroll-snap-align: end;
  margin-top: 100px;
  padding: 50px 20px;
  background-color: white;
  text-align: center;
  font-size: 0.9rem;
}
