.container {
  /* aspect-ratio > 1/1 */
  width: calc(80vmin * var(--aspect-ratio));
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2),
    0 60px 200px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-aspect-ratio: 1/1) {
  .container {
    width: calc(80vmax * var(--aspect-ratio));
    max-width: 100vmin;
  }
}
