.link {
  /* text-align: center; */
  /* display: block; */
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: #94a4ba;
  flex: 1 1 20%;
}

.title {
  display: none;
}
