.link {
  /* text-align: center; */
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: #94a4ba;
}

.title {
  display: none;
}
